.icons{
    overflow: hidden;
}
.icons ul{
    margin: 0;
    padding: 0;
}
.icons ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.icons ul li:last-child{
    margin-right: 0;
}
.icons ul li a{
    background-image: url('../assets/social_icons.jpg');
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 2px solid #777;
    border-radius: 50%;
    transition: 1s;
}
.icons ul li:hover:nth-child(1) a{
    background-position: 0 -84px;
}
.icons ul li:nth-child(2) a{
    background-position: -140px 0;
}
.icons ul li:hover:nth-child(2) a{
    background-position: -140px -70px;
}
.icons ul li:nth-child(3) a{
    background-position: -285px 0;
}
.icons ul li:hover:nth-child(3) a{
    background-position: -285px -75px;
}