.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background: red;
    padding: 10px;
}
.flex-item{
    border: 1px solid #fff;
    font-size: 30px;
    padding: 20px;
    color: #fff;
    margin: 10px;
    width: 100px;
    
}